*{
    font-family: 'risque',cursive;
}
body{
    background: url(../img/cookieimg.jpg)no-repeat center fixed;
    background-size: cover;
}
#home:link{


margin-right: 400px;
}
a{
    text-decoration: none; 
    color: rgb(177, 117, 111);
    font-size: larger;
    padding:15px;
    margin: 20px;
}
nav ul li{
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    float: left;
}
  header{
    background-color: rgb(80, 33, 1);
    color: rgb(31, 16, 58);
    font-size: 35px;
    text-align: center;
   
    font-family: 'risque',cursive;
}
p{
    clear: both;
     font-size: xx-large;
     color: rgb(80, 33, 1);
     padding: 5px;
 }
 h1{
    position: relative;
    text-align: center;
    font-size: 50px;
    color: white;
}
#salmon{
    position: absolute;
    top: 0;
    right:0;
    width: 12%;
    display: block;
    
}
footer{
    background-color: rgb(88, 87, 87);
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}
.slideshow{
    margin:0 auto;
    padding-top:50px;
    height: 700px;
    box-sizing:border-box;
}
.content{
    margin: auto;
    width:190px;
    perspective:1000px;
    position: relative;
    padding-top: 80px;
}
.content-carrousel{

    width: 100%;
    position: absolute;
    float: right;
    animation:rotar 15s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel:hover{
    animation-play-state:paused;
    cursor:pointer;
}
.content-carrousel figure{
    width:100%;
    height: 120px;
    border:1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}
.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
    .content-carrousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(300px);
}
.shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius :2px;
}
.content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height:100%;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from {
        transform:rotateY(0deg);
    } to {
        transform:rotateY(360deg);
    }
}
